@import "../../styles/colors.module";

.wrapper {
    background-color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: $teal600;
}

.login {
    // background: white;
    width: 140px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rating {
    background: white;
    color: $slate400;
    font-size: 14px;
}