@import '../../../../styles/colors.module.scss';

.winnerInfo {
    margin-bottom: 9px;

    .winnerName {
        color: $teal600;
    }
}

.players {
    width: 154*4px;
    background: white;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}