/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	border: 0px;
}
.field {
	/* margin: 0 auto; */
	/* width: 400px; */
	border: 0px;
	display: grid;
	grid-template-columns: repeat(
		3,
		80px
	);
	grid-template-rows: repeat(
		3,
		80px
	);
	gap: 10px;
}

.sm-x {
	color: red;
	font-size: 20px;
}
.sm-o {
	color: rgb(46, 76, 1);
	font-size: 20px;
}

.sq-win {
	background-color: aqua;
}

.clear {
	margin: 20px 0 0 0;
	width: 100px;
	height: 40px;
	border-radius: 50px;
	color: white;
	background-color: rgb(
		26,
		114,
		21
	);
	cursor: pointer;
}
