@import '../../../styles/colors.module.scss';

.wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 616px;
    padding: 20px 32px 28px;
    height: 651px;
    border-radius: 16px;
    border: 2px solid $teal600;
    background: white;
    box-shadow: 0px 4px 6px -1;

    .info {
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 12px;

        .current {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 38px;

            span {
                font-size: 20px;
                font-weight: 600;
                color: $slate900
            }

            .currentSm {
                width: 38px;
                height: 38px;
            }

        }


        .next {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 30px;

            span {
                color: $slate400;
                font-size: 12px;
                font-weight: 400;
            }
        }

    }

    .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px 0;
        gap: 11px
    }

}


.field {
    width: 616px;
    height: 570px;
    display: grid;
    grid-template-rows: repeat(19, 1fr);
    grid-template-columns: repeat(19, 1fr);
    padding: 1px 0 0 1px;

    .cell {

        width: 28px;
        height: 28px;
        background: rgb(244, 245, 248);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgb(232, 234, 238);
        }
    }

}