@import '../../../../styles/colors.module.scss';


.icons {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $slate400;

    .icon {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}